* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

:root {
	--salt-orange-dark: #f26e57;
	--salt-orange: #ff7d66;
	--salt-text: #585858;
	--salt-background: #f8f8f8;
	--alternative-background: hwb(0 100% 0%);
	--future-gray: #929292;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: row;
	position: relative;
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0.688), rgba(255, 255, 255, 1)), url(https://www.salt.dev/_ipx/w_3840,q_75/https%3A%2F%2Fimages.ctfassets.net%2Fjqtlvicdu16w%2F4Eie2P3LrAhafO1Tjumxyf%2Fc61dcc187223ad370f6e407f2ddc6d15%2FSalt-Humans.ee5bf2b5.webp?url=https%3A%2F%2Fimages.ctfassets.net%2Fjqtlvicdu16w%2F4Eie2P3LrAhafO1Tjumxyf%2Fc61dcc187223ad370f6e407f2ddc6d15%2FSalt-Humans.ee5bf2b5.webp&w=3840&q=75);
	background-size: cover;
	background-attachment: fixed;
}

.App-body {
	display: flex;
	margin-top: 9vh;
	height: 91vh;
	overflow-y: scroll;
	flex-grow: 1;
	justify-content: center;
	padding: 2rem;
}

.MuiBox-root {
	position: absolute;
	bottom: 14vh;
	right: 12vh;
}

.google-btn {
	transition: background-color 0.3s, box-shadow 0.3s;

	padding: 12px 16px 12px 5rem;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

	color: #4285f6;
	font-size: 3rem;
	font-weight: 700;
	font-family: "Open Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

	background-image: url(https://static.cdnlogo.com/logos/g/23/goolge-icon.png);
	background-size: 20%;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 1rem, 1rem;
}

.google-btn__login {
	width: max-content;
	height: fit-content;
}

.google-btn__logout {
	font-size: 1rem;
}

.landing-page__heading-container {
	display: flex;
	flex-direction: column;
	height: fit-content;
	position: absolute;
	align-items: flex-start;
	top: 20%;
	left: 10vh;
	padding: 1rem;
	z-index: 100;
}

.landing-page__heading {
	font-family: 'Raleway';
	font-size: 72px;
	margin: 5px;
	font-weight: bold;
	letter-spacing: 0.01rem;
	line-height: 3.5rem;
	color: white;
	background-color: #ff7961;
	padding-top: 9px;
	padding-bottom: 8px;
}

.subheading {
	font-size: 1rem;
	padding: 0;
	height: 1rem;
	color: gray;
}

.centered-button {
	height: fit-content;
	display: flex;
	justify-content: center;
	align-self: center;
}

.google-btn:hover {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.google-btn:active {
	background-color: #eeeeee;
}

.google-btn:focus {
	outline: none;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
		0 0 0 3px #c8dafc;
}

.google-btn:disabled {
	filter: grayscale(100%);
	background-color: #ebebeb;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
	cursor: not-allowed;
}

.create-button {
	color: var(--salt-orange);
}