* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

:root {
	--salt-orange-dark: #f26e57;
	--salt-orange: #ff7d66;
	--salt-text: #585858;
	--salt-background: #f8f8f8;
	--alternative-background: hwb(0 100% 0%);
	--future-gray: #929292;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: row;
	position: relative;
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0.688), rgba(255, 255, 255, 1)), url(https://www.salt.dev/_ipx/w_3840,q_75/https%3A%2F%2Fimages.ctfassets.net%2Fjqtlvicdu16w%2F4Eie2P3LrAhafO1Tjumxyf%2Fc61dcc187223ad370f6e407f2ddc6d15%2FSalt-Humans.ee5bf2b5.webp?url=https%3A%2F%2Fimages.ctfassets.net%2Fjqtlvicdu16w%2F4Eie2P3LrAhafO1Tjumxyf%2Fc61dcc187223ad370f6e407f2ddc6d15%2FSalt-Humans.ee5bf2b5.webp&w=3840&q=75);
	background-size: cover;
	background-attachment: fixed;
}

.App-body {
	display: flex;
	margin-top: 9vh;
	height: 91vh;
	overflow-y: scroll;
	flex-grow: 1;
	justify-content: center;
	padding: 2rem;
}

.MuiBox-root {
	position: absolute;
	bottom: 14vh;
	right: 12vh;
}

.landing-page {
	display: flex;
	align-items: center;
}

.landing-page__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.landing-page__text {
	font-family: 'Raleway';
	font-size: 5rem;
	margin: 5px;
	font-weight: bold;
	line-height: 4rem;
	color: white;
	background-color: #ff7961;
}

.subheading {
	font-size: 1rem;
	padding: 0;
	height: 1rem;
	color: gray;
}

.centered-button {
	height: fit-content;
	display: flex;
	justify-content: center;
	align-self: center;
}

.create-button {
	color: var(--salt-orange);
}