* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.card {
	display: flex;
	justify-self: center;
	align-self: center;
	flex-direction: column;
	width: 40vw;
	min-height: 70vh;
	height: fit-content;
	background: white;
	box-shadow: 0 0 6px 0 #cfcfcf;
	border-radius: 5px;
	justify-self: center;
	margin-top: 16px;
	padding: 16px;
}

.card__body {
	display: flex;
	flex-direction: column;
}

.card__header {
	width: 100%;
	font-family: "Raleway";
	font-style: normal;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	color: var(--salt-text);
	height: fit-content;
}

.row {
	font-family: "Roboto";
	font-size: 1rem;
	text-align: left;
	margin-top: 0.5rem;
}

.row__prefix {
	font-weight: bold;
	color: var(--salt-orange);
	width: 40px;
}

.row__title {
	text-decoration: none;
	color: var(--salt-text);
}

.deleted-message {
	font-family: "Roboto";
	font-size: 1rem;
	text-align: center;
	margin-top: 0.5rem;
	color: var(--salt-text);
}

.MuiSvgIcon-root {
	color: var(--salt-text);
	transition: 0.2s;
}

.MuiSvgIcon-root:hover {
	color: rgb(201, 0, 0);
}

.MuiSvgIcon-root:active {
	color: var(--salt-orange);
	text-shadow: 0 0 6px 0 #cfcfcf;
}
