.card--form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* width: fit-content; */
	min-width: 600px;
	max-width: 800px;
	height: fit-content;
	gap: 16px;
	padding: 16px;
	background: var(--salt-background);
	box-shadow: 0 0 6px 0 #cfcfcf;
	border-radius: 5px;
	color: var(--salt-text);
	font-size: 1rem;
	font-family: "Roboto";
}

.form__row {
	display: flex;
	justify-content: space-between;
}

.form__input {
	border: none;
	padding: 5px;
	width: 75%;
	font-size: 1rem;
	border-radius: 3px;
}

.form__input:focus {
	outline-color: var(--salt-orange);
}

.form__title {
	color: var(--salt-orange);
	font-weight: bold;
	font-size: 1.4rem;
	font-family: "Raleway";
	font-weight: bold;
	text-align: center;
}

.form__button--submit {
	padding: 6px;
	border: rgba(128, 128, 128, 0.184) solid 0.5px;
	align-self: center;
	font-size: 1rem;
	font-weight: bold;
	background: var(--salt-orange);
	color: white;
	border-radius: 3px;
	transition: 0.1s ease-in-out;
}

.form__button--submit:hover {
	background-color: var(--salt-orange-dark);
	box-shadow: 0 0 6px 0 #cfcfcf;
}

.form__button--submit:active {
	color: var(--salt-text);
}

.form__response-message {
	font-size: 0.8rem;
	color: green;
	align-self: center;
}

.form__response-message-fail {
	font-size: 0.8rem;
	color: red;
	align-self: center;
}
