* {
	text-decoration: none;
}

:root {
	--timeline-center: 20%;
}

.timeline {
	background: var(--alternative-background);
	margin-top: 9vh;
	padding-bottom: 16px;
	height: 91vh;
	min-width: 380px;
	overflow-y: scroll;
}

.timeline__start {
	position: relative;
	height: 12px;
}

.week__container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.week__title {
	font-size: 1rem;
	margin-left: -21px;
	z-index: 1;
}

.week__text {
	border-radius: 13px;
	color: white;
	background: var(--salt-orange);
	padding: 4px 8px;
}

.future .week__text {
	background: var(--future-gray);
}

.week__date {
	font-weight: bold;
}

.week__body {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.week__header.timeline__row {
	padding: 16px 0px;
}

.timeline__row {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	padding: 10px 0px;
}

.timeline__date {
	text-align: right;
	font-size: 0.7rem;
	width: var(--timeline-center);
	padding-right: 12px;
	color: var(--salt-orange);
}

.future .timeline__date {
	color: var(--future-gray);
}

.timeline__line {
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--timeline-center);
	background: var(--salt-orange);
	width: 2px;
}

.future .timeline__line {
	background: var(--future-gray);
}

.timeline__title {
	text-align: left;
	width: calc(100% - var(--timeline-center));
	padding-left: 12px;
	color: var(--salt-text);
	transition: 0.15s ease-in-out;
	transform-origin: 0% 50%;
	cursor: pointer;
}

.timeline__title:hover>.week__text {
	color: var(--salt-text);
}

.timeline__title:hover {
	transform: scale(1.1);
}

.topic__bullet {
	position: absolute;
	left: calc(var(--timeline-center) - 3px);
	height: 8px;
	width: 8px;
	border-radius: 4px;
	background: var(--salt-orange);
}

.future .topic__bullet {
	background: var(--future-gray);
}

.today .topic__bullet {
	transform: scale(2.375);
}

.today .topic__title {
	background: #ff7d6673;
	font-weight: bold;
}

.today .topic__date {
	font-weight: bold;
}

.timeline__end {
	display: flex;
	align-items: flex-end;
	position: relative;
	width: 100%;
	height: 1rem;
}

.timeline__end .topic__bullet {
	background: var(--future-gray);
}

.timeline__end .timeline__line {
	background: var(--future-gray);
}

.timeline__end-text {
	color: var(--salt-text);
	font-family: "Roboto";
	position: absolute;
	top: 16px;
	left: calc(var(--timeline-center) - 16px);
}