* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

:root {
	--salt-orange: hwb(9 40% 0%);
	--salt-text: #404040;
	--salt-background: #f8f8f8;
	--alternative-background: hwb(0 100% 0%);
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: var(--salt-background);
}

.App-body {
	display: flex;
	justify-content: flex-start;
	height: auto;
}

.google-btn {
	transition: background-color .3s, box-shadow .3s;

	padding: 12px 16px 12px 5rem;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

	color: #4285F6;
	font-size: 3rem;
	font-weight: 700;
	font-family: "Open Sans","Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

	background-image: url(https://static.cdnlogo.com/logos/g/23/goolge-icon.png);
	background-size: 20%;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 1rem, 1rem;
}

.google-btn__login {
	width: max-content;	
}

.google-btn__logout {
	font-size: 1rem;
}


.centered-button {
	height: fit-content;
	display: flex;
	justify-content: center;
	margin-top: 20%;
}

.google-btn:hover {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.google-btn:active {
	background-color: #eeeeee;
}

.google-btn:focus {
	outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
}

.google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
}
