* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
:root {
	--salt-orange: #ff7d66;
	--salt-text: #404040;
	--salt-background: #f8f8f8;
	--alternative-background: hwb(0 100% 0%);
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: auto;
	background: var(--salt-background);
}

.App-body {
	display: flex;
	justify-content: flex-start;
	height: auto;
}

.routes__container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.form__container {
	position: absolute;
	padding-top: 30vh;
	/* top: 50%;
	left: 50%;
	width: 40vw; */
	height: 100vh;
	width: 100vw;
	display: flex;
	align-self: center;
	align-content: center;
	justify-self: center;
	justify-content: center;
}

.create-button {
	/* background-color: var(--salt-orange); */
	color: var(--salt-orange);
}
