* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
:root {
	--salt-orange-dark: #f26e57;
	--salt-orange: #ff7d66;
	--salt-text: #585858;
	--salt-background: #f8f8f8;
	--alternative-background: hwb(0 100% 0%);
	--future-gray: #929292;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: auto;
	background: var(--salt-background);
}

.App-body {
	display: flex;
	justify-content: flex-start;
	height: auto;
}

.routes__container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.create-button {
	/* background-color: var(--salt-orange); */
	color: var(--salt-orange);
}
