.card--form {
	display: flex;
	justify-content: space-around;
	width: auto;
	height: 11rem;
	padding: 4px;
	background: var(--salt-background);
	box-shadow: 0 0 6px 0 #cfcfcf;
	border-radius: 5px;
	flex-direction: column;
	color: var(--salt-text);
	font-size: 1rem;
	font-family: "Roboto";
}

.form__row {
	display: flex;
	justify-content: space-between;
}

.form__input {
	border: none;
	padding: 5px;
	width: 75%;
	font-size: 1rem;
	border-radius: 3px;
}

.form__input:focus {
	outline-color: var(--salt-orange);
}

.form__title {
	color: var(--salt-orange);
	font-weight: bold;
	font-size: 1.4rem;
	font-family: "Futura";
	font-weight: bold;
	text-align: center;
}

.form__button--submit {
	padding: 6px;
	border: rgba(128, 128, 128, 0.184) solid 0.5px;
	align-self: center;
	font-size: 1rem;
	font-weight: bold;
	background: var(--salt-orange);
	color: white;
	height: fit-content;
	border-radius: 3px;
	transition: 0.30s ease-in-out;
}

.form__button--submit:hover {
	transform: scale(1.05);
}

.form__response-message {
	font-size: 0.8rem;
	color: green;
}

.fail {
	color: rgb(175, 0, 0);
}
