* {
	box-sizing: border-box;
}

.navbar-container {
	display: flex;
	width: 100%;
	height: 9vh;
	left: 0px;
	top: 0px;
	background: #ffffff;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 6px 0 #cfcfcf;
	overflow-y: visible;
	position: absolute;
	z-index: 2;
}

.logo {
	display: flex;
	width: 15%;
	height: 32.41px;
	top: 36px;
	margin-left: 80px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
	height: 40px;
	left: 472px;
	top: 28px;
}

.navbar-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	background: white;
	font-family: "Roboto";
	font-size: 1rem;
	color: var(--salt-text);
}

.item__line {
	height: 2px;
	width: 0px;
	background-color: var(--salt-orange);
	transition: 0.3s ease-in-out;
	justify-self: center;
}

.navbar-item:hover .item__line {
	width: 100%;
	color: var(--salt-orange);
}

.navbar-item:hover .item__text {
	color: var(--salt-orange);
}

.user-information {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 15%;
	color: var(--salt-text);
	text-align: left;
	margin-right: 2rem;
}

.user-information__photo {
	margin: 1rem;
	border-radius: 50%;
	max-height: 3.5rem;
}
