.link__info {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.link-buttons {
    align-self: center;
    margin-left: auto;
    margin-right: 0;
}

.link-button__edit {
    align-self: center;
    margin-left: auto;
}

.status__message {
    font-size: 1rem;
    justify-self: end;
}