* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.card {
	display: flex;
	flex-direction: column;
	width: 40vw;
	height: 70vh;
	background: #ffffff;
	box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	justify-self: center;
	margin-top: 16px;
}
/* .card {
	display: flex;
	width: 300px;
	background: #ffffff;
	box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	flex-direction: column;
} */

.card__header {
	top: 8px;
	width: 100%;
	/* Title text */
	font-family: "Futura";
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	/* identical to box height */
	text-align: center;

	/* Text */
	color: #929292;
}
.row {
	font-family: "Roboto";
}

.row__prefix {
	font-weight: bold;
	color: var(--salt-orange);
}

.row__title {
	text-decoration: none;
	color: var(--salt-text);
}
