* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --salt-orange: #ff7e67;
  --salt-text: #929292;
  --salt-background: #f8f8f8;
  --alternative-background: darkseagreen;
}
.timeline {
  background: var(--alternative-background);
  width: 316px;
  /* color: var(--salt-text); */
}
.week__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.week__header {
  display: flex;
  align-items: flex-end;
}
.timeline__date {
  margin-right: 16px;
}
.timeline__line {
  position: absolute;
  width: 2px;
  align-self: stretch;
  justify-self: center;
  background: var(--salt-orange);
}
.timeline__title {
  padding-left: 16px;
  /* border-left: var(--salt-orange) 2px solid; */
}
.week__body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.topic__container {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.topic__bullet {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  align-self: center;
  background: var(--salt-orange);
  background: var(--salt-orange);
}
