* {
	text-decoration: none;
}
:root {
	--timeline-center: 20%;
}
.timeline {
	background: var(--alternative-background);
	width: 380px;
	height: 100vh;
	overflow-y: scroll;
}
.timeline__start {
	position: relative;
	height: 12px;
}
.week__container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.week__header {
	padding: 12px;
}
.week__title {
	font-size: 1rem;
	margin-left: -21px;
	z-index: 1;
}
.week__text {
	border-radius: 13px;
	color: var(--salt-text);
	/* color: white; */
	background: var(--salt-orange);
	padding: 4px 8px;
	padding-left: 8px;
	padding-right: 8px;
}
.future .week__text {
	background: #bababa;
}
.week__date {
	font-weight: bold;
}
.week__body {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.timeline__row {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	padding: 8px 0px;
}
.timeline__date {
	text-align: right;
	font-size: 0.7rem;
	width: var(--timeline-center);
	padding-right: 12px;
	color: var(--salt-text);
}
.timeline__line {
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--timeline-center);
	background: var(--salt-orange);
	width: 2px;
}
.future .timeline__line {
	background: var(--future-gray);
}
.timeline__title {
	text-align: left;
	width: calc(100% - var(--timeline-center));
	padding-left: 12px;
	color: var(--salt-text);
	transition: 0.15s ease-in-out;
	transform-origin: 0% 50%;
}
.timeline__title:hover > .week__text {
	color: white;
}
.timeline__title:hover {
	transform: scale(1.1);
}
.topic__bullet {
	position: absolute;
	left: calc(var(--timeline-center) - 3px);
	height: 8px;
	width: 8px;
	border-radius: 4px;
	background: var(--salt-orange);
}
.future .topic__bullet {
	background: var(--future-gray);
}
.timeline__end {
	display: flex;
	align-items: flex-end;
	position: relative;
	width: 100%;
	height: 1rem;
}
.timeline__end .topic__bullet {
	background: var(--future-gray);
}
.timeline__end .timeline__line {
	background: var(--future-gray);
}
.timeline__end-text {
	color: var(--salt-text);
	font-family: "Roboto";
	position: absolute;
	top: 16px;
	left: calc(var(--timeline-center) - 16px);
}
