* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
:root {
	--timeline-center: 20%;
}
.timeline {
	background: var(--alternative-background);
	padding-bottom: 16px;
	/* width: 320px; */
	height: 91vh;
	overflow-y: scroll;
}
.week__container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.week__title {
	font-size: 1rem;
	margin-left: -21px;
	z-index: 1;
}
.week__bullet {
	width: 12px;
	height: 12px;
	position: absolute;
	left: calc(var(--timeline-center) - 5px);
	border-radius: 6px;
	background: var(--salt-orange);
}
.week__date {
	font-weight: bold;
}
.timeline__row {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	padding-top: 16px;
}
.timeline__date {
	text-align: right;
	font-size: 0.7rem;
	width: var(--timeline-center);
	padding-right: 12px;
	color: var(--salt-text);
}
.timeline__line {
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--timeline-center);
	background: var(--salt-orange);
	width: 2px;
}
.timeline__title {
	text-align: left;
	width: calc(100% - var(--timeline-center));
	padding-left: 12px;
	color: var(--salt-text);
	transition: 0.15s ease-in-out;
	transform-origin: 0% 50%;
}
.title-text__container {
	border-radius: 13px;
	color: white;
	background: var(--salt-orange);
	padding: 4px 8px;
}
.timeline__title:hover {
	transform: scale(1.1);
}
.week__body {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.topic__bullet {
	position: absolute;
	left: calc(var(--timeline-center) - 3px);
	height: 8px;
	width: 8px;
	border-radius: 4px;
	background: var(--salt-orange);
}
