* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: var(--salt-text);
}

.resource__title:link {
	color: gray
}
.resource__title:visited {
	color: var(--salt-orange);
}

.topic {
	display: flex;
	width: 40vw;
	height: 70vh;
	background: #ffffff;
	box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	justify-self: center;
	margin-top: 16px;
}

.topic__header {
	text-align: center;
	top: 8px;
	width: 100%;

	/* Title text */
	font-family: "Futura";
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 43px;
	/* identical to box height */
	text-align: center;

	/* Text */
	color: #929292;
}

.topic__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Roboto";
	color: var(--salt-text);
}

.resource__type {
	font-family: "Roboto";
	font-weight: bold;
	color: var(--salt-orange);
}

.resource {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	font-family: "Roboto";
	font-size: 1rem;
	font-weight: normal;
}
